APScheduler~=3.11.0
anthropic~=0.69.0
google-genai~=1.52.0
ijson~=3.4.0
jieba~=0.42.1
motor~=3.7.1
openai~=1.109.1
python-telegram-bot~=22.5
requests~=2.32.5
six~=1.17.0
telegramify-markdown~=0.5.1
tornado~=6.5.2
urllib3~=2.5.0
